*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  background: linear-gradient(to right, #000000ea, #401068d2);
}

/* NAVBAR */
.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
  padding: 8px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.073);
}

.nav > #nav-check {
  display: none;
}
/*  */

.container{
    width: 100%;
    
    display: flex;
    justify-content: center;
    gap: 8rem;
    
    position: relative;
    top: 50px;
}

.exp-cards{
    width: 150px;
    height: 150px;

    border-radius: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(90deg, #211829 -15.75%, rgba(69, 2, 128, 0.95) 176%);
    color: white;
    overflow: hidden;
}
.exp-cards .icon{
    width: 100%;
    height: 70%;
    background-color: black;
}
.title{
    position: relative;
    left: 20%;

}


/* CARDS IMGS */
#card1 .icon{
    background-image: url(../imgs/exp-cards/html_css.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card2 .icon{
    background-image: url(../imgs/exp-cards/AWS.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card3 .icon{
    background-image: url(../imgs/exp-cards/js.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: 5px;
    background-color: #FFFDE8;
}
#card4 .icon{
    background-image: url(../imgs/exp-cards/flutter.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: white;
}
#card5 .icon{
    background-image: url(../imgs/exp-cards/ux_ui.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card6 .icon{
    background-image: url(../imgs/exp-cards/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*  */

.container2{
    width: 100%;

    position: relative;
    top: 8rem;

    display: flex;
    justify-content: center;
    gap: 8rem;
}
.ent-card{
    width: 36.7%;
    height: 400px;
    background-color: white;
    border-radius: 2px;

    overflow: hidden;
    
    background: linear-gradient(90deg, #33253f -15.75%, rgba(69, 2, 128, 0.95) 176%);
    color: white;
}
.text{

    position: relative;
    top: 4%;
    left: 2%;

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text .tit{
    font-weight: 700;
    font-size: 24px;
}

.ent-img{
    width: 100%;
    height: 74%;
    position: relative;
}
#img1{
    background-image: url(../imgs/ent-cards/albus.png);
    background-size: 80%;
    background-position: 50% 40px;
    background-repeat: no-repeat;

    background-color: #082128;
}
#img2{
    background-image: url(../imgs/ent-cards/seg.png);
    background-size: cover;
}



@media only screen and (min-width: 320px) and (max-width:480px){

    .container{
        flex-direction: column;
    }

    .nav{
        z-index: 999;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-header > .nav-title{
        font-size: 18px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background: linear-gradient(to right, #131313, #492d63);
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){

}

@media only screen and (min-width: 769px) and (max-width: 1024px){

}