* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* 104px = 6.5rem */

/* ROOT */
:root {
    --bg-color2: #00010D;
    --bg-color: #20212e;
    --text-color: white;
    --purple-border: #8600BF;
    --purple-text: #D692FF;
    --menu-h: white;
    --light-dark: white;
}

/* {
    --bg-color: #191919;
    --text-color: RED;
    --purple-border: RED;
    --purple-text: red;
    --menu-h: red;
    --light-dark: red;
} */
/*  */

body{
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

/* NAVBAR */
.header{
    height: 80px;
    width: 100%;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-size: 24px;
    font-weight: 200px;

    padding: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px  solid var(--purple-border);
}

.mh-div{
    cursor: pointer;

    width: 50px;
    height: 50px;

    position: absolute;
    left: 24px;
    top: 2.5%;
}
#mh{
    width: 30px;
    height: 2px;

    background-color: var(--menu-h);

    position: absolute;
    top: 16px;
}
#mh::after{
    content: '';
    width: 50px;
    height: 2px;

    background-color: var(--menu-h);

    position: absolute;
    top: -16px;
}

#mh::before{
    content: '';
    width: 15px;
    height: 2px;

    background-color: var(--menu-h);

    position: absolute;
    bottom: -16px;
}

.light-dark{
    cursor: pointer;

    width: 50px;
    height: 50px;

    position: absolute;
    right: 24px;
    
    background-color: var(--light-dark);
}
/*  */

/* 1 SEÇÃO */
.section-1{
    width: 100%;

    color: white;

    display: flex;
}

.w-text{
    position: absolute;
    left: 104px;
    top: 208px;

    font-size: 45px;
    line-height: 4.5rem;
}
.w-text span{
    color: var(--purple-text);
}

img{
    width: 800px;
    position: absolute;
    right: 0px;

    z-index: -999;

    border-bottom: 2px solid var(--purple-border);
}

.about-me{
    width: 60%;
    
    position: relative;
    top: 80px;
}
.about-me::after{
    content: '';
    width: 90%;
    height: 2px;

    position: absolute;
    bottom: -1.3rem;
    background-color: var(--purple-border);
}
.about-me::before{
    content: '';
    width: 64%;
    height: 2px;

    position: absolute;
    top: 40px;
    right: 6rem;
    background-color: var(--purple-border);
}
.about-me #ab{
    font-weight: 300;
}

.about-me #desc{
    font-weight: 200;
}
/*  */

/* 2 SEÇÃO */
.section-2{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 56.5rem;

}
#title2{
    font-size: 40px;
    color: var(--text-color);

    position: relative;
}

.con-cards{
    width: 40%;

    display: flex;
    gap: 40px;
    justify-content: center;

    flex-wrap: wrap;

    position: relative;
    top: 80px;
}
.card{
    width: 150px;
    height: 150px;

    background-color: grey;

    border-radius: 0 8px 0 0;
}

/* CARDS */
#card1{
    background-image: url(../imgs/exp-cards/html_css.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#card2{
    background-image: url(../imgs/exp-cards/js.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#card3{
    background-image: url(../imgs/exp-cards/AWS.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#card4{
    background-image: url(../imgs/exp-cards/typescript.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#card5{
    background-image: url(../imgs/exp-cards/ux_ui.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#card6{
    background-image: url(../imgs/exp-cards/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/*  */

/*  */

/* 3 SEÇÃO */
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    
    position: relative;
    top: 68rem;
}

#title3{
    font-size: 40px;
    color: var(--text-color);

    position: relative;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;
}

.projetos{
    width: 100%;
    height: fit-content;
}

.proj{
    width: 1000px;
    height: 700px;

    background-color: grey;
    float: right;
    margin-right: 104px;

    border-radius: 0 8px 0 0;
}

.buttons{
    width: fit-content;
    height: fit-content;

    position: relative;
    top: 32rem;
    margin-left: 75px;

}

.button{
    width: 160px;
    height: 160px;

    position: relative;
    margin-left: 32px;
    
    border-radius: 0 8px 0 0;

    cursor: pointer;
}

.text{
    color: white;

    width: 40rem;
    height: fit-content;

    position: relative;
    bottom: 10rem;
    margin-left: 104px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.title{
    font-size: 40px;
    font-weight: 450;


    transition: all 200ms ;
}
.desk{
    font-size: 24px;
    font-weight: 300;
}
.link{
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 18rem;
    left: 35px;
}

.title:hover{

}

/* Seção 4 */
.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    
    position: relative;
    top: 74.5rem;
}

#title4{
    font-size: 40px;
    color: var(--text-color);

    position: relative;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;
}

.exp-cont{
    width: fit-content;
    height: fit-content;

    display: flex;
    gap: 12rem;
}
.exp{
    width: 750px;
    height: 450px;

    background-color: aliceblue;

    border-radius: 0 8px 0 0;
}
/*  */


/* ANIMATIONS */
.out{
    transform: translateX(24rem);
    opacity: 0;
}
/*  */


