* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  background: linear-gradient(to right, #000000ea, #401068d2);
}

/* NAVBAR */
.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
  padding: 8px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.073);
}

.nav > #nav-check {
  display: none;
}
/*  */

.container{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 40px;

    position: relative;
    left: 2rem;
    top: 6rem;
}
.container .img{
    width: 100%;
    height: 60%;
    background-color: beige;
}
.card{
    width: 400px;
    height: 400px;

    background: linear-gradient(90deg, #211829 -15.75%, rgba(69, 2, 128, 0.95) 176%);


    position: relative;
    left: 24px;

    border-radius: 4px;
    overflow: hidden;
    transition: transform 100ms ease-in-out;
}
.title{
    font-size: 24px;
    margin: 8px;
    color: rgb(255, 255, 255);
}
.desc{
    font-size: 15px;
    margin: 16px;
    margin-top: -4px;
    color: rgb(228, 228, 228);
    line-height: 150%;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.01);
}



@media only screen and (min-width: 320px) and (max-width:480px) {


    .container{
        display: flex;
        flex-direction: column;

        transform: translate(5px, -10%);
    }
    .card{
        width: 200px;
        height: 150px;
    }

    #card1-title{
        position: relative;
        top: 8%;
    }

    .card > .title{
        font-size: 18px;
    }
    .card > .desc{
        display: none;
    }

    .nav{
        z-index: 999;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-header > .nav-title{
        font-size: 18px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background: linear-gradient(to right, #131313, #492d63);
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){

    .container{
        display: flex;
        flex-direction: column;

        transform: translate(0px, -10%);
    }
    .card{
        width: 370px;
        height: 250px;
    }

    .card > .title{
        font-size: 18px;
    }
    .card > .desc{
        font-size: 10px;
    }

    #card3{
        margin-bottom: 2rem;
    }

    .nav{
        z-index: 999;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-header > .nav-title{
        font-size: 18px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background: linear-gradient(to right, #131313, #492d63);
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px){

    .container{
        display: flex;
        flex-direction: column;

        transform: translate(30%, -5%);
    }
    .card{
        width: 400px;
        height: 300px;
    }

    .card > .title{
        font-size: 18px;
    }
    .card > .desc{
        font-size: 13px;
    }

    #card3{
        margin-bottom: 3rem;
    }

    .nav{
        z-index: 999;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-header > .nav-title{
        font-size: 18px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background: linear-gradient(to right, #131313, #492d63);
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

}
